@use "../utilitarios/" as *;

.basket{
    width: 88vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    visibility: hidden;
    position: relative;
    top:40px;
    z-index: 2;

    &__conteiner{
        position: fixed;
        background-color: $branco;
        height: 230px;
        width: calc(370px - 2rem);
        border-radius: 12px;
        box-shadow: 0px 20px 40px -6px $azul-cinza;
        @include celular{
            top: 10%;
            right: 4.5%;
        }

    }
    &__conteiner-titulo{
        padding: 1rem;
        border-bottom: $azul-cinza solid 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    &__titulo{
        color: $azul-dark;
        @include Kumbh-Sans-700;
        font-size: 1.2rem
    }
    &__x{
        &:hover{
            cursor: pointer;
        }
    }
    &__conteiner-texto{
        @include flex-cc;
        padding: 1.5rem 0;

    }
    &__texto{
        display:block;
        @include Kumbh-Sans-400;
        color:$azul-cinza;
        padding: 3rem 4rem;
    }
    &__conteiner-compra{
        margin-right: 1rem;
        display: none;

        

    }
    &__conteiner-img{
        display: flex;
        margin-bottom: 1.5rem;
        
    }
    &__img{
        height: 50px;
        margin-right: 1rem;
        margin-left: 0.4rem;

    }
    &__compra-texto{
        @include Kumbh-Sans-400;
        color: $azul-cinza;
        font-size: 1rem;

    }
    &__conteiner-preco{
        display: flex;
        flex-direction: column;

    }
    &__conteiner-preco-total{
        display: flex;
    }

    &__preco{
        @include Kumbh-Sans-400;
        color: $azul-cinza;
        font-size: 1rem;
        
    }
    &__quantidade{
        @include Kumbh-Sans-400;
        color: $azul-cinza;
        font-size: 1rem;
        margin-right: 0.25rem;
        margin-left: 0.25rem;

    }
    &__preco-total{
        color: $azul-dark;
        @include Kumbh-Sans-700;
        
    }
    &__conteiner-lixeira{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__lixeira{
        &:hover{
            cursor: pointer;

        }
    }
    &__botao{
        width: 100%;
        border-radius: 0.5rem;
        border:none;
        background-color: $laranja-1;
        @include Kumbh-Sans-700;
        color: $branco;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        margin-left: 0.4rem;
        &:hover{
            opacity: 0.7;
            cursor: pointer;
        }
    }
}
